.header {
    width: 1400px;
    margin: 73px auto;
}

.footer {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.offer__item {
    width: 385px;
    margin: 0 25px;
    position: relative;
    left: 50px;
}

.customers {
    top: 1450px;
    left: 70px;
}

.partners {
    position: absolute;
    right: 410px;
    top: 2555px;
}

.page {
    width: 100%;
}

.download__devices {
    right: -130px;
}